{% extends 'base.html' %}
{% block content %}
{% load static %}
<br><br><br>
<div class="row">
  <div class="col-sm-3">
    <div class="card" style="width: 30rem;">

      <div class="thumbnail">

<ul class="nav nav-list primary left-menu">
<li class="heading">Python Basic Tutorial</li>
<li><a target="_top" href="/python/index.htm">Python - Home</a></li>
<li><a target="_top" href="{% url 'python_overview' %}">Python - Overview</a></li>
<li><a target="_top" href="/python/python_environment.htm">Python - Environment Setup</a></li>
<li><a target="_top" href="/python/python_basic_syntax.htm">Python - Basic Syntax</a></li>
<li><a target="_top" href="/python/python_variable_types.htm">Python - Variable Types</a></li>
<li><a target="_top" href="/python/python_basic_operators.htm">Python - Basic Operators</a></li>
<li><a target="_top" href="/python/python_decision_making.htm">Python - Decision Making</a></li>
<li><a target="_top" href="/python/python_loops.htm">Python - Loops</a></li>
<li><a target="_top" href="/python/python_numbers.htm">Python - Numbers</a></li>
<li><a target="_top" href="/python/python_strings.htm">Python - Strings</a></li>
<li><a target="_top" href="/python/python_lists.htm">Python - Lists</a></li>
<li><a target="_top" href="/python/python_tuples.htm">Python - Tuples</a></li>
<li><a target="_top" href="/python/python_dictionary.htm">Python - Dictionary</a></li>
<li><a target="_top" href="/python/python_date_time.htm">Python - Date &amp; Time</a></li>
<li><a target="_top" href="/python/python_functions.htm">Python - Functions</a></li>
<li><a target="_top" href="/python/python_modules.htm">Python - Modules</a></li>
<li><a target="_top" href="/python/python_files_io.htm">Python - Files I/O</a></li>
<li><a target="_top" href="/python/python_exceptions.htm">Python - Exceptions</a></li>
</ul>
<ul class="nav nav-list primary left-menu">
<li class="heading">Python Advanced Tutorial</li>
<li><a target="_top" href="/python/python_classes_objects.htm">Python - Classes/Objects</a></li>
<li><a target="_top" href="/python/python_reg_expressions.htm">Python - Reg Expressions</a></li>
<li><a target="_top" href="/python/python_cgi_programming.htm">Python - CGI Programming</a></li>
<li><a target="_top" href="/python/python_database_access.htm">Python - Database Access</a></li>
<li><a target="_top" href="/python/python_networking.htm">Python - Networking</a></li>
<li><a target="_top" href="/python/python_sending_email.htm">Python - Sending Email</a></li>
<li><a target="_top" href="/python/python_multithreading.htm">Python - Multithreading</a></li>
<li><a target="_top" href="/python/python_xml_processing.htm">Python - XML Processing</a></li>
<li><a target="_top" href="/python/python_gui_programming.htm">Python - GUI Programming</a></li>
<li><a target="_top" href="/python/python_further_extensions.htm">Python - Further Extensions</a></li>
</ul>
      </div>
      </div>
    </div>

  <div class="col-sm-3">
    <div class="card" style="width: 80rem;">
      <div class="thumbnail">
          <div class="caption">
          <div class="nav nav-list primary center-menu">
              <p>/////
               {% autoescape off %}
              {% for datas in data %}
                  {{datas.title}}
                  {{datas.description}}

               {% endfor %}
                {% endautoescape %}
              </p>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}